<!-- Adminlogin.html -->
<div class="container">
   <div id="header">
<h1>view all customer coupons</h1>
</div>

		<div ng-controller="customerController" ng-init="viewAllcustomercoupons()">
			<input type="button" class="btn btn-primary"  value="refresh" ng-click="viewAllcustomercoupons()" />

			<table boder="10" st-table="rowCollection" class="table table-striped">
				<thead>
				<tr>
				<th>title</th>
					<th>id</th>
					<th>amount</th>
					<th>endDate</th>
					<th>startDate</th>
					<th>price</th>
					<th>message</th>
					<th>type</th>
					</tr>
					</thead>
					<tbody>
				<tr ng-repeat="coupon in custcoupons.coupon">
					<td>{{coupon.title}}</td>
					<td>{{coupon.id}}</td>
					<td>{{coupon.amount}}</td>
					<td>{{coupon.endDate}}</td>
					<td>{{coupon.startDate}}</td>
					<td>{{coupon.price}}</td>
					<td>{{coupon.message}}</td>
					<td>{{coupon.type}}</td>
					
				</tr>
				</tbody>
			</table>
		</div>
    <a href="#/CustomerPage"class="btn btn-success"> Back to customer</a>
</div>