<!-- Adminlogin.html -->
<div class="container">
   <h1>display company</h1>
		
		<h1>view all companies</h1>
		<div ng-controller="adminController">
			<input type="button" value="view all companies" ng-click="viewAll()" />

			<table boder="10" st-table="rowCollection" class="table table-striped">
				<thead>
				<tr>
				
					<th>id</th>
					<th>company name</th>
					<th>password</th>
					<th>email</th>
					<th>coupons</th>
				
					</tr>
					</thead>
					<tbody>
				<tr ng-repeat="company in companies">
					<td>{{company.id}}</td>
					<td>{{company.compName}}</td>
					<td>{{company.password}}</td>
					<td>{{company.email}}</td>
					<td>{{company.coupons}}</td>
					
				</tr>
				</tbody>
			</table>
		</div>
		<h1>view company</h1>
		<div ng-controller="adminController">
		<input type="text" value="view  company" ng-model="id" />
			<input type="button" value="view  company" ng-click="viewcompany()" />

			
					{{company.id}}
				{{company.compName}}
				{{company.password}}
				{{company.email}}
					{{company.coupons}}
					
			
		</div>
    <a href="#/AdminPage"> Back</a>
</div>