
<div class="container">

    <h2>please insert the coupon details </h2>
    <div  ng-controller="companyController">
      amount<input type="text" ng-model="amount"><br /> 
			start date:     <input type="text"  ng-model="startdate"><br /> 
			end date: <input type="text" ng-model="enddate"> <br />
			price<input type="text" ng-model="price"><br /> 
			message    <input type="text" ng-model="message"><br /> 
			type <input type="text" ng-model="type"> <br />
			title <input type="text" ng-model="title"><br />
      <input type="button" value="add new coupon" ng-click="getnewcoup()" /><br /> 
        <hr/>  
        {{$scope.newcoup}}
     
			
	
				
		</div>
     <a href="#/CompanyPage"> Back</a>
</div>