
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="controllers.js"></script>
<meta http-equiv="Content-Type"
	content="text/html; charset=windows-1255">
<title>Insert title here</title>
</head>
<body>
	<!-- MAIN DIV -->
	<div ng-app="myApp123">
		<button ng-click="viewAll()">Show All Items</button>
		<table boder="10">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
			</tr>
			<tr ng-repeat="x in allItemsResult">
				<td>{{x.id}}</td>
				<td>{{x.custName}}</td>
				<td>{{x.price}}</td>
			</tr>
		</table>

	</div>
</body>
</html>